@import "/vars";

$buttonWidth: 100px;
$buttonHeight: 40px;

// .queue-section {
//   .queue-grid {
//     justify-content: center;
//     width: 100%;
//     display: grid;
//     grid-template-areas:
//       "number"
//       "chart";
//   }

//   .QueueNr {
//     grid-area: number;
//     align-items: center;
//     margin: 3rem;

//     h3 {
//       margin: 50px 0 0 20px;
//     }
//     div {
//       display: flex;
//       align-items: center;
//       h1 {
//         font-size: 30vh;
//       }
//     }

//     .arrowUp {
//       width: 0;
//       height: 0;
//       border-left: 30px solid transparent;
//       border-right: 30px solid transparent;

//       border-bottom: 50px solid red;
//       margin-top: 100px;
//       transition: 1s;
//     }

//     .arrowDown {
//       width: 0;
//       height: 0;
//       border-left: 30px solid transparent;
//       border-right: 30px solid transparent;
//       margin-top: 100px;
//       transition: 1s;

//       border-top: 50px solid green;
//     }
//   }
//   // display: flex;
//   // flex-direction: row;
//   // flex-wrap: wrap;
//   button {
//     cursor: pointer;
//     width: 200px;
//     height: 40px;
//     border-radius: 5px;
//     text-align: center;
//     text-decoration: none;
//     font-size: 16px;
//     background-color: $secondaryWhite;
//     border: $primaryBlue solid 1px;
//     color: $primaryBlue;
//   }
// }

// $breakpoint-desktop: 800px;
// @media (min-width: $breakpoint-desktop) {
//   .queue-section {
//     margin: 2rem;
//     .queue-grid {
//       display: grid;
//       grid-template-areas: "number chart chart";
//     }
//   }
// }

.queue-section {
  padding: 1rem;
  .chart-btns {
    display: flex;
    justify-content: center;
    button {
      margin: 0 0.1rem;
    }
  }
  .chart.btns > * {
    margin: 0 0.1rem;
  }
}

$breakpoint-desktop: 1000px;
@media (min-width: $breakpoint-desktop) {
  .queue-section {
    padding: 2rem;
    .chart-btns {
      display: flex;
      justify-content: flex-end;
    }

    .chart-container {
      padding: 4rem;
    }
  }
}

button {
  cursor: pointer;
  width: $buttonWidth;
  height: $buttonHeight;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

//Filter button - classes afhængig af state
.button-active {
  background-color: $primaryBlue;
  box-shadow: inset -4px -4px 8px rgba(99, 139, 174, 1),
    inset 1px 1px 20px rgba(0, 0, 0, 0.5);
  color: $secondaryWhite;
}
.button-default {
  background-color: $secondaryWhite;
  border: $primaryBlue solid 1px;
  border-radius: 5px;
  color: $primaryBlue;
}
